body{
    background-image: url("image/f3.png");
    background-size: 1000px;
}

.middle_position{
    text-align: center;
    margin: auto;
}
.index_left{
    margin: 20px;
    text-align: center;

}
.index_right{
    text-align: center;
    margin: 30px;
}
.index_main{
    margin: 40px;
    text-align: center;

}
.position-fixed{
    object-position: top;

}